@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

li{
  list-style: none;
}

button{
  border: none;
  background: none;
}

.modal {
  width: 10%;
  height: auto;

  position: fixed;
  top: 25.8%;
  left: 94%;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.modal ul{
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.modal button {
  border-bottom: 1px solid red;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-weight: bold;
}


